// Footer 
@use '../base/variables' as *;
.footer {
  background-color: #0d0d0d;
  color: #ccc;
  padding: 60px 20px 20px;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
    margin: 0 auto;
  }

  h3, h4 {
    color: #fff;
    margin-bottom: 15px;
    font-family: $font-title;
    font-size: 2rem;
    text-align: start;
  }

  p {
    font-size: 0.95rem;
    margin-bottom: 8px;
    color: #aaa;
    font-family: $font-subtitle;

    }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;

    &:hover {
      color: #ff3c3c;
    }
  }
  .bxl-facebook{
    color:#3b5998;
  }
  .bxl-instagram{
    color: #ff3c3c;
  }
  .bxl-twitter{
    color: #00acee;
  }
  &__icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    }
  
    a {
      font-size: 1.2rem;
      color:d8d6d6;
      transition: 0.3s;

      &:hover {
        color: #ff3c3c;
        transform: scale(1.2);
      }
    }
  

  &__bottom {
    border-top: 1px solid rgba(255,255,255,0.05);
    margin-top: 40px;
    padding-top: 15px;
    text-align: center;

    p {
      font-size: 0.85rem;
      color: #777;
    }
  }
}
.footer_logo{
  width: 70px;
  
}