
@media (max-width: 480px){

  body{
    box-sizing: border-box;
    overflow-x: hidden;
  }
    .header__nav {
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .menu__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .promos__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__container {
    flex-direction: row;
  }

  .reviews__container {
    flex-direction: row;
  }

}

