

@media (min-width: 768px) {

  .header__nav__list {
    flex-direction: row;
    justify-content: center;
  }

  .menu__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .promos__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__container {
    flex-direction: row;
  }

  .reviews__container {
    flex-direction: row;
  }

}





@media (min-width: 1024px) {
  .menu__container {
    grid-template-columns: repeat(4, 1fr);
  }
}