
// Fuentes

$font-title: 'Bebas Neue', sans-serif;
$font-subtitle: 'Baloo 2', cursive;
$font-text: 'Poppins', sans-serif;

// Colores

$color-enlace:#d8d6d6;
$color-title:#f9f9f9;
$color-primary: #ff4d4d; 
$color-text: #8b8989;
$color-btn-hover: #e03e3e;